* {
  margin: 0;
}

body {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  position: relative;
}

#top-background-wrapper {
  filter: drop-shadow(3px 3px 3px gray);
  z-index: -1;
}

#top-background {
  background-color: darkcyan;
  clip-path: polygon(100% 0%, 100% 60%, 0% 100%, 0% 0%);
  height: 520px;
  width: 100%;
  position: absolute;
}

#top-section {
  display: flex;
  flex-direction: row;
  margin: 30px;
}

#profile {
  box-shadow: 3px 3px 3px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#profile-picture {
  max-width: 500px;
}

#profile-name {
  background: rgb(82, 122, 122, 0.5);
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  /*broken when phone screen*/
  bottom: 0;
}

#about-me {
  background-color: aliceblue;
  box-shadow: 3px 3px 3px gray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 60px;
  position: relative;
  margin-block: 20px;
}

#about-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#about-links a {
  min-width: 30px;
}

#work-section {
  background-color: aliceblue;
  margin: 30px;
}

#projects-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

#project-1 {
  background-color: brown;
}

#project-2 {
  background-color: blueviolet;
}

#project-3 {
  background-color: darkolivegreen;
}

#project-4 {
  background-color: darkorchid;
}

#project-5 {
  background-color: darkorange;
}

#project-6 {
  background-color: cornflowerblue;
}

.project {
  box-shadow: 3px 3px 3px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  min-width: 300px;
}

.project-image {
  max-height: 250px;
  min-height: 250px;
  width: 100%;
  object-fit: contain;
}

.project-description {
  background-color: aliceblue;
  max-height: 100px;
  min-height: 100px;
  padding: 10px;
}

.project-identifier {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 10px;
}

.project-links {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  gap: 5px;
}

.project-links a {
  min-width: 20px;
}

#contact-section {
  background-color: darkcyan;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  padding: 30px;
}

#contact-info {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 350px;
}

#contact-info img:not(#contact-links img) {
  filter: invert(1);
}

#phone-email img {
  max-height: 2em;
}

#phone,
#email {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

#contact-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#contact-links a {
  min-width: 35px;
}

#contact-image {
  max-width: 700px;
}
